.animated {
    -webkit-animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-duration: 1s;
    animation-fill-mode: both
}
.medDur {
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
}
.short {
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
}
.zoomInDown {
    -webkit-animation-name: zoomInDown;
    animation-name: zoomInDown
}
.zoomInUp {
    -webkit-animation-name: zoomInUp;
    animation-name: zoomInUp
}

/* perspective(50em) rotateX(50deg) */

.levelInUp {
    -webkit-animation-name: levelInUp;
    animation-name: levelInUp
}
.levelInDown {
    -webkit-animation-name: levelInDown;
    animation-name: levelInDown
}

@keyframes levelInUp {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    from {
      opacity: 0;
      -webkit-transform: translate3d(0, 3000px, 0);
      transform: translate3d(0, 3000px, 0) perspective(50em) rotateX(80deg);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0) perspective(50em) rotateX(77deg);
    }
  
    75% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0) perspective(50em) rotateX(74deg);
    }
  
    90% {
      -webkit-transform: translate3d(0, -5px, 0);
      transform: translate3d(0, -5px, 0) perspective(50em) rotateX(71deg);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }
  @keyframes levelInDown {
    from,
    60%,
    75%,
    90%,
    to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    }
  
    0% {
      opacity: 0;
      -webkit-transform: translate3d(0, -3000px, 0);
      transform: translate3d(0, -3000px, 0) perspective(50em) rotateX(80deg);
    }
  
    60% {
      opacity: 1;
      -webkit-transform: translate3d(0, 25px, 0);
      transform: translate3d(0, 25px, 0) perspective(50em) rotateX(77deg);
    }
  
    75% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0) perspective(50em) rotateX(74deg);
    }
  
    90% {
      -webkit-transform: translate3d(0, 5px, 0);
      transform: translate3d(0, 5px, 0) perspective(50em) rotateX(71deg);
    }
  
    to {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  }

  @keyframes levelOutDown {
    20% {
      -webkit-transform: translate3d(0, 10px, 0);
      transform: translate3d(0, 10px, 0);
    }
  
    40%,
    45% {
      opacity: 1;
      -webkit-transform: translate3d(0, -20px, 0);
      transform: translate3d(0, -20px, 0) perspective(50em) rotateX(60deg);
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, 2000px, 0);
      transform: translate3d(0, 2000px, 0) perspective(50em) rotateX(80deg);
    }
  }
  
  .levelOutDown {
    -webkit-animation-name: levelOutDown;
    animation-name: levelOutDown;
  }

  @keyframes levelOutUp {
    20% {
      -webkit-transform: translate3d(0, -10px, 0);
      transform: translate3d(0, -10px, 0);
    }
  
    40%,
    45% {
      opacity: 1;
      -webkit-transform: translate3d(0, 20px, 0);
      transform: translate3d(0, 20px, 0) perspective(50em) rotateX(60deg);
    }
  
    to {
      opacity: 0;
      -webkit-transform: translate3d(0, -2000px, 0);
      transform: translate3d(0, -2000px, 0) perspective(50em) rotateX(80deg);
    }
  }
  
  .levelOutUp {
    -webkit-animation-name: levelOutUp;
    animation-name: levelOutUp;
  }

@-webkit-keyframes zoomInDown {
    0% {
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        opacity: 0;
        filter: blur(var(--blur));
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0)
    }

    60% {
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0)
    }
    
    90% {
        filter: blur(0);
    }
}

@keyframes zoomInDown {
    0% {
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        opacity: 0;
        filter: blur(var(--blur));
        transform: scale3d(.1, .1, .1) translate3d(0, -1000px, 0)
    }

    60% {
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, 60px, 0)
    }

    90% {
        filter: blur(0);
    }
}

@-webkit-keyframes zoomInUp {
    0% {
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        opacity: 0;
        filter: blur(var(--blur));
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0)
    }

    60% {
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0)
    }

    90% {
        filter: blur(0);
    }
}

@keyframes zoomInUp {
    0% {
        -webkit-animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        -webkit-transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0);
        animation-timing-function: cubic-bezier(.55, .055, .675, .19);
        opacity: 0;
        filter: blur(var(--blur));
        transform: scale3d(.1, .1, .1) translate3d(0, 1000px, 0)
    }

    60% {
        -webkit-animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        -webkit-transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0);
        animation-timing-function: cubic-bezier(.175, .885, .32, 1);
        opacity: 1;
        transform: scale3d(.475, .475, .475) translate3d(0, -60px, 0)
    }

    90% {
        filter: blur(0);
    }
}