@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poiret+One&display=swap);

body {
    color: #bbb;
    background-color: #1e1e1e;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1em;
}

.svgFloor {
    margin: 0 auto;
    padding: .5em;
    display: block;
    height: 95%;
}
.svgFloor text {
    font-family: 'Open Sans', sans-serif;
}
.svgFloor g text {
    pointer-events: none;
}
.svgFloor g[onclick] {
    cursor: pointer;
    transition-duration: .09s;
}

#display {
    display: none;
    height: 60%;
    width: 25%;
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(25, 25, 25, .5);
    border-radius: .8em;
    box-shadow: 0 0 1em black;
    transition-duration: .15s;
}

@media (hover:hover) {
    #display:hover, #display.hover {
        box-shadow: 0 0 2em white;
    }
}