/* @import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300&display=swap);
@import url(https://fonts.googleapis.com/css?family=Poiret+One&display=swap); */
@font-face {
    font-family: 'AdventPro';
    font-display: swap;
    src: url('font/AdventPro-Regular.ttf');
}

body {
    color: #bbb;
    background-color: #1e1e1e;
    max-width: 100vw;
    max-height: 100vh;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;

    font-family: 'AdventPro', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1em;
}
* {
    -webkit-user-select: none;
    user-select: none;
    appearance: none;
}
#display h1, #display p, #display b {
    -webkit-user-select: text;
    user-select: text;
}

.svgFloor {
    margin: 0 auto;
    padding: .5em;
    display: block;
    height: 95%;
}
.svgFloor text {
    font-family: 'AdventPro', sans-serif;
}
.svgFloor g text {
    pointer-events: none;
}
.svgFloor g[onclick] {
    cursor: pointer;
    transition-duration: .09s;
}

nav {
    right: 0;
    position: absolute;
    display: flex;
    flex-direction: column;

    padding: .9em;
}

nav button {
    border: none;
    border-radius: .1em;
    color: #bbb;
    background-color: #1e1e1e;
    font-size: 20px;
    padding: .5em;
    transition-duration: .3s;
    transition-delay: .2s;
    cursor: pointer;
}
@media (hover:hover) {
    nav button:hover {
        box-shadow: 0 0 1em black;
        padding: .7em;
        margin-right: .4em;
        transition-delay: 0;
    }
}

#display {
    display: none;
    height: 60%;
    width: 25%;
    padding: 2em;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(25, 25, 25, .5);
    border-radius: .8em;
    box-shadow: 0 0 1em black;
    transition-duration: .15s;
}

@media (hover:hover) {
    #display:hover, #display.hover {
        box-shadow: 0 0 2em white;
    }
}